{{ define "root/index" }}{{template "layout_header" . -}}

<div class="row">
    <div class="col-md-12">
        <center>
            <h3 class="display-5 mb-3">Welcome!</h3>
            <p>Please use the links above to navigate.</p>
        </center>
    </div>
</div>

{{- template "layout_footer" .}}{{end}}